.meetVideoContainer {
  position: relative;
  height: 100vh;
  background: rgb(31, 26, 26);
}

.meetUserVideo {
  position: absolute;
  bottom: 10vh;
  height: 20vh;
  width: auto;
  left: 0;
  border-radius: 20px;
}

.buttonContainers {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

.buttonContainers svg {
  font-size: 3rem;
}

.conferenceView {
  display: flex;
  padding: 20px;
  gap: 10px;
}

.conferenceView video {
  width: 40vw;
  height: 20vh;
  min-width: 30vw;
  border-radius: 10px;
}

.chatRoom {
  position: absolute;
  height: 89vh;
  right: 0;
  background: rgb(61, 58, 58);
  border-radius: 10px;
  width: 20vw;
  bottom: 10vh;
  padding: 20px;
  top: 1vh;
  right: 0.5vw;
}

.chatContainer {
  position: relative;
  height: 100%;
  color: white;
}

.chattingArea {
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 5px;
}
